
<h1 class="mt-3">Pipes </h1>
<hr>

<div class="row">
  <div class="col-6">

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th> Variable </th>
          <th> Pipe </th>
          <th> Salida </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> {{ fecha }} </td>
          <td> fecha </td>
          <td> {{ fecha | date: 'dd/MM/yyyy'  }} </td>
        </tr>
        <tr>
          <td> {{ fecha }} </td>
          <td> fecha MMMM-dd</td>
          <td> {{ fecha | date: 'MMMM - dd' : '' : 'es' }} </td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> uppercase </td>
          <td> {{ nombre | uppercase  }} </td>
        </tr>
        <tr>
          <td> {{ nombre }} </td>
          <td> lowercase </td>
          <td> {{ nombre | lowercase  }} </td>
        </tr>
        <tr>
          <td> {{ precio }} </td>
          <td> currency </td>
          <td> {{ precio | currency  }} </td>
        </tr>        
        <tr>
          <td> {{ precio }} </td>
          <td> currency </td>
          <td> {{ precio | currency:'EUR': true : '.2-2' }} </td>
        </tr>
        <tr>
          <td> {{ PI }} </td>
          <td> number </td>
          <td> {{ PI | number:'.0-4' }} </td>
        </tr>
        <tr>
          <td> {{ descuento }} </td>
          <td> porcentaje </td>
          <td> {{ descuento | percent }} </td>
        </tr>                                       
        <tr>
          <td> {{ descuento }} </td>
          <td> porcentaje </td>
          <td> {{ descuento | percent:'2.2-2' }} </td>
        </tr>
        <tr>
          <td> {{ textoLargo }} </td>
          <td> slice </td>
          <td> {{ textoLargo | slice: 0 : 9 }} </td>
        </tr>
        <tr>
          <td> {{ myObject }} </td>
          <td> json </td>
          <td> 
            <pre>
              {{ myObject | json }}
            </pre>
          </td>
        </tr>  
        <tr>
          <td> {{ miPromesa | json }} </td>
          <td> async </td>
          <td>{{ miPromesa | async }}</td>
        </tr>        
        <tr>
          <td> {{ textoLargo }} </td>
          <td> slice </td>
          <td> {{ textoLargo | slice: 2 }} </td>
        </tr>        
      </tbody>
    </table>
  </div>
</div>

HT
